services:
  pgsql:
    container_name: '${COMPOSE_PROJECT_NAME}_pgsql'
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: '${DB_DATABASE:-default}'
      POSTGRES_USER: '${DB_USER?:err}'
      POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
    volumes:
      - pgsql:/var/lib/postgresql/data
      - ./.github/postgres/dev-init.sql:/docker-entrypoint-initdb.d/init.sql # will setup dev database adonis_app for us
    ports:
      - '5432:5432'
    restart: always
    networks:
      - sail
    healthcheck:
      test: ['CMD', 'pg_isready', '-q', '-d', '${DB_DATABASE:-default}', '-U', '${DB_USER}']
      retries: 3
      timeout: 5s

  pgadmin:
    container_name: '${COMPOSE_PROJECT_NAME}_pgadmin'
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: '${PGADMIN_MAIL:-admin@repo.com}'
      PGADMIN_DEFAULT_PASSWORD: '${PGADMIN_PW:-secret}'
      PGADMIN_SERVER_JSON_FILE: /pgadmin4/servers.json
      PGADMIN_REPLACE_SERVERS_ON_STARTUP: 'True'
    ports:
      - '5050:80'
    restart: always
    volumes:
      - pgadmin:/root/.pgadmin
      - ./.github/pgadmin/servers.json:/pgadmin4/servers.json
    networks:
      - sail

  # nodeapp:
  #   container_name: 'nodeapp'
  #   build:
  #     context: .
  #     dockerfile: Dockerfile # Sesuaikan dengan nama Dockerfile kamu (A atau B)
  #   environment:
  #     NODE_ENV: production
  #     DB_HOST: pgsql
  #     DB_DATABASE: ${DB_DATABASE:-default}
  #     DB_USER: ${DB_USER?:err}
  #     DB_PASSWORD: ${DB_PASSWORD:-secret}
  #   ports:
  #     - "8080:8080"  # Port aplikasi Node.js
  #   depends_on:
  #     - pgsql # Memastikan pgsql dijalankan lebih dulu
  #   networks:
  #     - sail
  #   restart: always

networks:
  sail:
    driver: bridge

volumes:
  pgsql:
  pgadmin:
